*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
textarea {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.typing-container {
  width: 60vw;
  border: 1px solid #333;
  border-radius: 0.3em;
  padding: 1rem;
  overflow: hidden;
}

.timer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #0011ff;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.correct {
  color: #00c12d;
}

.incorrect {
  color: #fb0000;
}

.current {
  color: #0011ff;
}

.words-display {
  margin-left: calc(1rem + 1px);
  margin-right: calc(1rem + 1px);
  font-size: 1.25rem;
  line-height: 2rem;
  max-height: 10rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.words-input {
  overflow: hidden;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #a3a3a3;
}

.words-input:focus {
  border: 1px solid #0011ff;
}
